.switch-container {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #edf3ff;
    text-shadow: 0px 0px 2px black;
    align-items: center;
    display: grid;
    grid-template-columns: 35px 100px;
    grid-gap: 5px;
    /*background-color: #2196F3;*/
    padding: 5px;
    width: 135px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4067a5;
}
input:disabled + .slider {
    background-color: #f7f7f7;
}
input:checked:disabled + .slider {
    background-color: #d3e4ff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4067a5;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 50%;
}