#container {
    position: relative;
}
#container canvas, #overlay {
    position: absolute;
}

.switcher-container {
    display: grid;
    width: 85px;
    height: 40px;
    grid-template-columns: 40px 40px;
    grid-gap: 5px;
    /*background-color: #2196F3;*/
    padding: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.generator-container {
    display: grid;
    width: 85px;
    height: 40px;
    grid-template-columns: 40px 40px;
    grid-gap: 5px;
    /*background-color: #2196F3;*/
    padding: 5px;
    position: fixed;
    top: 10px;
    right: 10px;
}
.options-container {
    display: grid;
    grid-gap: 0px;
    /*background-color: #2196F3;*/
    padding: 5px;
    position: fixed;
    top: 10px;
    left: 10px;
}
.joystick-container {
    display: grid;
    width: 130px;
    height: 130px;
    grid-template-columns: 40px 40px 40px;
    grid-gap: 5px;
    /*background-color: #2196F3;*/
    padding: 5px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#arrow-top {
    transform: rotate(90deg);
}
#arrow-right {
    transform: rotate(180deg);
}
#arrow-bottom {
    transform: rotate(-90deg);
}
#arrow-bottom-right {
    transform: rotate(225deg);
}
#arrow-bottom-left {
    transform: rotate(-45deg);
}
#arrow-top-right {
    transform: rotate(-225deg);
}
#arrow-top-left {
    transform: rotate(45deg);
}

button.grid-toggle,
button.direction:disabled, button.direction:active:disabled,
button.generator:disabled, button.generator:active:disabled,
button.switcher:disabled, button.switcher:active:disabled {
    background-color: #d3e4ff;
}
button.direction, button.switcher, button.generator, button.grid-toggle {
    background-color: #4067a5;
    border: none;
    color: white;
    width:40px;
    height:40px;
    display: inline;
    border-radius: 8px;
    outline : 0;
    -moz-outline : 0;
    border : 0
}
button.direction:active, button.switcher:active, button.generator:active, button.grid-toggle:active {
    background-color: #29426b;
}

